
svg{
    height: 800px;
    width: 800px;
    background-color: bisque;
   
}

div#layout{
    text-align: center;
}

div#container{
    margin: auto;
}

text{
    font-size: 18px;
    font-family: sans-serif;
}